html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Inconsolata", monospace;

  /* background-color: #00539f;*/
  background-color: #000000;
}

body {
  width: 600px;
  margin: 0 auto;
  /*background-color: #275640;*/
  background-color: #2f6e51;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px black;
}

a:link{
  color: #000000
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
